<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZMEME</title>
</head>
<style>
    input{
        width: 40%;
        height: 30px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
</style>
<body>
    <center>
        <form action="#">
            <h1>Login</h1>

            <div id="login_form">
                <input type="text" id="username" placeholder="Username" required><br>
                <input type="password" id="password" placeholder="Password" required><br>
            </div>

            <div id="login_buttons">
                <input type="submit" value="Login"><br>
                <input type="button" value="Register">
        </form>
    </center>
    
</body>
</html>