<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZMEME</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script/auth.js"></script>
</head>
<style>
    input{
        width: 40%;
        height: 30px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
</style>
<body>
    <center>
        <form id="login-form">
            <h1>Login</h1>

            <b id="error"></b>

            <div id="details">
                <input type="text" id="username" placeholder="Username" required><br>
                <input type="password" id="password" placeholder="Password" required><br>
            </div>

            <div id="buttons">
                <input type="submit" value="Login"><br>
                <input type="button" class="toggle_auth" value="Register">
        </form>
    </center>
    

    <center>
        <form id="register-form" style="display: none;">
            <h1>Register</h1>

            <b id="error"></b>

            <div id="details">
                <input type="text" id="username" placeholder="Username" required><br>
                <input type="password" id="password" placeholder="Password" required><br>
                <input type="password" id="confirm-password" placeholder="Confirm Password" required><br>
                <input type="email" id="email" placeholder="Email" required><br>
            </div>

            <div id="buttons">
                <input type="submit" value="Register"><br>
                <input type="button" class="toggle_auth" value="Login">
            </div>
        </form>
    </center>
</body>
</html>