<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZMEME</title>
</head>
<body>
    <center>
        <h1>QUIZMEME</h1>

        <h3>
            {% if user.is_authenticated %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/auth">Login</a>
            {% endif %}
        </h3>

        <h3>
            {% if user.is_authenticated %}
                <b>Hello, {{user.username}}.</b>
            {% else %}
                <b>Hello, Guest.</b>
            {% endif %}
        </h3>
    </center>
</body>
</html>